<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input required formControlName="email"   class="form-control" id="email" type="text" placeholder="Enter Email" >
        <div *ngIf="form.controls.email.touched && form.controls.email.hasError('required')" class="alert alert-danger">Email is Required!</div>
        <div *ngIf="form.controls.email.touched && form.controls.email.hasError('email')" class="alert alert-danger">Invalid Email!</div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input required formControlName="password"  class="form-control" id="password" type="password" placeholder="Enter Password" >
        <div *ngIf="form.controls.password.touched && !form.controls.password.valid" class="alert alert-danger">Password is required!</div>
      </div>
     
      <input class="btn btn-primary" [disabled]="form.invalid" type="submit" value="Submit" />
    </form>
  </div>
</body>
</html>