        body{
            overflow-x:hidden ; 
            overflow-y: hidden; 
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
            background-size:120px 1000px;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
        .flex-container {
            display: flex;
            margin: auto;
            width: 100%;
            margin-top: 40px;  
                        
        }
        .car
        {
            padding-top: 100px;
            padding-bottom: 50px;
                              
            width: 100%;
            
        
        }
        
        .green {
            background-color: #4CAF50;;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50%;
        }
        .red {
            background-color: #f44336;;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50%;
        }
        .yellow {
            background-color: #CCCC00;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50%;
        }
        .setvsignal
        {
            padding-left: 55%;
            
            
        }
        .sethsignal
        {
            padding-left: 10%;
            
            
           
          
        }
        .hcardiv
        {
            
            margin: auto;
            height:180px;
            margin-top:-500px;
            width:auto;
            background-color: darkgray;
           
        }


        .maindiv{
            height:790px;
            width: auto;
            
        }

        .vcardiv
        {
            margin-left: 700px;
            padding-right: 90px;
            padding-left: 70px;
            background-color: darkgray;
            width: 20px;
            height: 800px;
            margin: auto;
        }
        